body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1.0);
    background-color: #4682b4;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}